<li>
	{{burger_name}}

	{{!-- <button class="devour" data-id="{{id}}" data-devoured="{{devoured}}">
		{{#if devoured}}DEVOUR!{{else}}WAKE UP!{{/if}}
	</button> --}}

	{{!-- <button class="add" data-id="{{this.id}}">ADD BURGER!</button> --}}
</li>